h1 { 
  text-align: center;
  margin-top: 25px;
}

#sel { 
  text-align: center;
}

form { 
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

label { 
  display: block;
}

input[type="submit"] {
  display: block;
  margin: auto;
  margin-top: 1%;
}

caption { 
  caption-side: top;
  color: black;
  text-align: center;
}


table, th, td {
  border: 1px solid black;
  padding: 5px;
  margin-left: 10%;
}

table { 
  display: inline-block;
  border: 0;
  vertical-align: top;
}